body {
    margin: 0;
    padding: 0;
    user-select: none; /* prevents text highlighting */
}

.controls-layout {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    padding: 10px;
    margin: 20px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 10px; 
}

.grid-control-title {
    font-size: 40px;
    padding: 10px;
    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(199, 185, 60);
    text-align: center;
}

.grid-item {
    font-size: 40px;
    padding: 10px;
    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: lightblue;
    text-align: center;
}

.grid-item:hover {
    opacity: 90%;
    background-color: blueviolet;
}

.grid-item:active {
    opacity: 95%;
    background-color: mediumseagreen;
}